# OS / editors
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Go
bin/
build/
*.test
coverage.out

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Terratest
.terratest-log/

# Local env
.env
.env.*

